.chat {
  border: 1px solid black;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  overflow: auto;
  text-align: left;
  border-radius: 5px;
}

.messages-end {
  float: left;
  clear: both;
}

.hidden {
  display: none;
}

.chat-container {
  margin: auto;
  max-width: 500px;
  margin-top: 20px;
}